INPUT_MODE=google_sheets
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1AKxetFFGWOwYhPdbg672x-sh7P0qU-uyiF2V4MFX3t4/edit?gid=0#gid=0
GOOGLE_CREDENTIALS=credentials/google-service-account.json
GOOGLE_JOBS_WORKSHEET=Jobs
GOOGLE_QUEUE_WORKSHEET=Application Queue